@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F3F5F7;
}

body.dark header {
    background: #202020;
}

body.dark main {
    background: #181818;
}

body.dark main li {
    background: #202020;
}

body.dark main .title {
    color: #5649E7;
}

header {
    width: 100%;
    background: var(--linear);
    height: 250px;
}

header .main-header {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 3rem 0 3rem;
    /*margin: 0 auto;*/
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.875em;
    padding-top: 41px;
}

header input {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    margin-top: 60px;
    border: none;
    padding: 22px 22px 22px 52px;
    font-family: 'Inter', sans-serif;
    font-size: 1.125em;
    line-height: 1.375em;
    background: rgba(255, 255, 255, 0.2);
    background-image: url(../images/lupa.svg);
    background-repeat: no-repeat;
    background-position: 10px 16px;
    color: var(--white);
    outline: none;
}

header input::-webkit-input-placeholder {
    color: var(--white);
}

header input::-moz-placeholder {
    color: var(--white);
}

header input::-moz-placeholder {
    color: var(--white);
}

header input::-ms-input-placeholder {
    color: var(--white);
}

/* News */

main {
    background: #F3F5F7;
    padding: 100px 10px;
}

main li {
    max-width: 960px;
    margin: 0 auto;
    background: var(--white);
    padding: 25px;
    border: none;
    border-radius: 5px;
}

main li {
    margin-top: 50px;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

main li:first-child {
    margin-top: 0;
}

main li .news-content {
    display: flex;
    justify-content: space-between;
    color: var(--text);
    font-size: 1em;
    line-height: 1.250em;
}

main li .news-content i {
    color: #5649E7;
}

main li .title {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--title);
    font-size: 1.625em;
    line-height: 1.5em;
}

main li p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--text);
    font-size: 1.125;
    line-height: 2em;
}

li {
    list-style: none;
}

