@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F3F5F7;
}

body.dark {
    background: #181818;
}

body.dark header {
    background: #202020;
}

body.dark main {
    background: #181818;
}

body.dark main li {
    background: #202020;
}

body.dark main .title {
    color: #5649E7;
}

header {
    width: 100%;
    background: var(--linear);
    height: 200px;
    padding: 0 60px
}

header .main-header {
    max-width: 920px;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.875em;
    padding-top: 41px;
}

header input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 40px;
    border: none;
    padding: 22px 22px 22px 52px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.375em;
    background: rgba(255, 255, 255, 0.2);
    background-image: url(../images/lupa.svg);
    background-repeat: no-repeat;
    background-position: 10px 7px;
    color: var(--white);
    outline: none;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

header input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

header input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

header input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

/* News */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F3F5F7;
    padding-top: 50px;
}

main li {
    max-width: 920px;
    margin: 30px 60px;
    background: var(--white);
    padding: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

main li:first-child {
    margin-top: 0;
}

main li .news-content {
    display: flex;
    justify-content: space-between;
    color: var(--text);
    font-size: 1em;
    line-height: 1.250em;
}

main li .news-content i {
    color: #5649E7;
}

main li i {
    font-size: 16px;
}

main li .title {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--title);
    font-size: 1.4em;
    line-height: 1.5em;
}

main li p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--text);
    font-size: 1em;
    line-height: 1.5em;
}

li {
    list-style: none;
}

@media (min-width: 482px) and (max-width: 767px) {
    header {
        padding: 0;
    }
    
    header .main-header {
        padding: 0 60px;
    }
}